<div class="main pt-4 pl-5">
    <h1 class="main-title mb-5">Доходы</h1>
    <div class="container-fluid d-flex">
        <div class="card-action">
            <h2 class="title mb-3">Депозиты</h2>
            <div class="action">
                <a href="#/edit-income" class="btn btn-primary mr-2 mt-2">Редактировать</a>
                <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#myModal">
                    Удалить
                </button>
            </div>
        </div>

        <div class="card-action">
            <h2 class="title mb-3">Зарплата</h2>
            <div class="action">
                <a href="#/edit-income" class="btn btn-primary mr-2 mt-2">Редактировать</a>
                <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#myModal">
                    Удалить
                </button>
            </div>
        </div>

        <div class="card-action">
            <h2 class="title mb-3">Сбережения</h2>
            <div class="action">
                <a href="#/edit-income" class="btn btn-primary mr-2 mt-2">Редактировать</a>
                <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#myModal">
                    Удалить
                </button>
            </div>
        </div>

        <div class="card-action">
            <h2 class="title mb-3">Инвестиции</h2>
            <div class="action">
                <a href="#/edit-income" class="btn btn-primary mr-2 mt-2">Редактировать</a>
                <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#myModal">
                    Удалить
                </button>
            </div>
        </div>


        <a href="#/create-category-income" id="add-income"
           class="card-action align-items-center justify-content-center d-flex"> + </a>

    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex justify-content-center align-items-center pt-5 pb-5 border border-secondary">
            <div class="modal-text text-center mb-3">
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </div>
            <div class="modal-action">
                <button class="btn btn-success" data-dismiss="modal">Да, удалить</button>
                <button class="btn btn-danger" data-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>

