<div class="main pt-4 pl-5">
    <h1 class="title">Главная</h1>
    <nav class="navigation d-flex justify-content-between mt-5">
        <button type="button" class="btn btn-outline-secondary bg-secondary">Сегодня</button>
        <button type="button" class="btn btn-outline-secondary">Неделя</button>
        <button type="button" class="btn btn-outline-secondary">Месяц</button>
        <button type="button" class="btn btn-outline-secondary">Год</button>
        <button type="button" class="btn btn-outline-secondary">Все</button>
        <button type="button" class="btn btn-outline-secondary">Интервал</button>
        <div class="filter d-flex  align-items-center">с <a href="#" class="ml-2">Дата</a></div>
        <div class="filter d-flex  align-items-center">по <a href="#" class="ml-2">Дата</a></div>

    </nav>

    <section class="content pt-5">
        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="border-right income-circle">
                        <h1 class="title text-center">Доходы</h1>
                        <div class="card-body">
                            <canvas id="chartIncome"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="">
                        <h1 class="title text-center">Расходы</h1>
                        <div class="card-body">
                            <canvas id="chartExpenses"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
