<div class="main pt-4 pl-5">
    <h1 class="main-title">Редактирование категории доходов</h1>
    <div class="content pt-5 pl-2 pr-2">
        <div class="form">
            <input type="text" class="form-control" id="edit-income" value="Зарплата">
            <div id="validationServer03Feedback" class="invalid-feedback">
                Заполните поля
            </div>
        </div>
        <div class="create-income-action mt-4">
            <button class="btn btn-success mr-2" id="income-save">Сохранить</button>
            <a class="btn btn-danger" id="cancel-save" href="#/income">Отмена</a>
        </div>
    </div>
</div>
